[user]
    name = Johan
    email = 47191187+johansource@users.noreply.github.com
[init]
    defaultBranch = master
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
    eol = lf
	autocrlf = false
    safecrlf = true
[diff]
    tool = default
[color]
    ui = auto
